extends config/layout-body

block options
    -
        options = {

        }



block files
    link(
        rel='stylesheet',
        href= 'css/index.min.css' + siteOptions.ver
    )
    script(
        src= 'js/jquery-3.2.1.min.js'
    )
    script(
        src= 'js/index.min.js' + siteOptions.ver

    )



block seo
    title= 'ЗАГОЛОВОК САЙТА'
    meta(
        name='description',
        content= 'ОПИСАНИЕ САЙТА'
    )
    +opengraph({
        'title': 'ЗАГОЛОВОК САЙТА',
        'description': 'ОПИСАНИЕ САЙТА',
        'image': 'https://prestige-dance.club/images/open-graph.jpg',
        'url': 'https://domain.com',
        'type': 'website',
    })
    +favicon({
        'image': siteOptions.pathImages + "favicon.ico"
    })



block content
    include content/sections/_about



block modals
