extends ../../../../node_modules/lawsaw-api/api-src/pug/layout-body



block html
    include site-options
    include modules
    include data
    block options
    doctype html
    html(lang="ru" prefix="og: http://ogp.me/ns#")
        head
            meta(
                charset='utf-8'
            )
            meta(
                name='viewport',
                content='user-scalable=no'
            )
            meta(
                name='viewport',
                content='width=device-width, initial-scale=1.0, maximum-scale=1.0'
            )
            block files
            block seo

        body
            .wrap
                .wrapPage
                    .wrapPageBody
                        block content
                .wrapModalAwesome
                    block modals

